
.note-card{
    color: white;
    width: 190px;
    height: 240px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.note-card:hover{
    transform: scale(110%);
}

/* 

    Background colors:
        #8338EC
        #FF006E
        #FB5607
        #F31313

*/

.note-title{
    font-weight: 700;
    font-size: 1.3rem;
}

.note-body{
    font-size: .8rem;
}

.create-note-btn{
    width: 150px;
    height: 40px;
}

.sign-out-btn{
    width: 120px;
    height: 30px;
}